.tickets-seller{
    margin: 0;
}

@font-face {
    font-family: "F1";
    src: url("content/F1Font.otf") format("opentype");
}

body {
    font-size: 17px;
    line-height: 23px;
    background: #fff;
}

header {
    color: white;
    background-color: #E10600;
    padding: 10px;
}

.logo{
    height: 30px;
}

.video-wrapper{
    position: relative;
    top: 0;
    height: 500px;
    overflow: hidden;
}

.video-wrapper video{
    width: 100%;
    position: absolute;
    top:50%;
    transform:translate(0,-50%);

}

.main-text {
    padding: 10px 30px;
}

h1 {  /*интересный факт, назначение h бесполезно, так как браузер сделает по своему*/
    font-family: F1; /*я позаимствовал английский шрифт F1*/
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

p {
    font-family: Calibri;
    font-size: 1em;
    text-align: left;
}

.ultimate-experemental-font {
    font-size: 1.1em;
    font-family: F1;
    font-weight: 900;
    line-height: 2;
    text-align: left;
    vertical-align: bottom;
    color: black;
    background-color: rgba(225, 6, 0, 0.14);
    padding: 0.5em 0.33em;
    white-space: pre-wrap;
    text-transform: capitalize;
    text-decoration: underline;
}

.single-image {
    width: 50%;
    filter: drop-shadow(10px 5px 2px #611F1D);
}

#code-insert {
    border: 1px dotted;
    background-color: #E1060023;
    padding: 0.5em 0.66em;
    font-weight: bold;
    width: 50%;
}

footer {
    font-size: 0.9em;
    padding: 10px 30px;
    color: white;
    background-color: #15151e;
}
