.tickets-seller{
    margin: 0;
}

@font-face {
    font-family: "F1";
    src: url("content/F1Font.otf") format("opentype");
}

.head {
    color: white;
    background-color: #E10600;
    padding-left: 10px;
    /*line-height: 1;*/
}

.single-image {

    filter: drop-shadow(10px 5px 2px #611F1D);
}

footer {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    background-color: #15151e;
}

p {
    font-family: Calibri;
    size: 16px;
    text-align: left;
}

.main-text {
    padding-left: 30px;
}

.ultimate-experemental-font {
    size: 20px;
    font-family: F1;
    font-weight: 900;
    line-height: 2;
    text-align: left;
    vertical-align: bottom;
    color: black;
    background-color: rgba(225, 6, 0, 0.14);
    padding-left: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

h3 {
    size: 18px;
    font-family: F1; /*я позаимствовал английский шрифт F1*/
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    /*background-color: rgba(230, 74, 69, 0.36);*/
}

.logo{
    /*display: inline-block;*/
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.video-wrapper{
    position: relative;
    top: 0;
    height: 500px;
    overflow: hidden;
}

.video-wrapper video{
    width: 100%;
    position: absolute;
    top:50%;
    transform:translate(0,-50%);

}